<p>nft-creat works!</p>

<form (ngSubmit)="handleSubmit()" [formGroup]="form">
    <div>
        <label for="title">Nom de NFT</label>
        <input type="text"  id="name" formControlName="nameNFT" />
    </div>
    <div>
        <label for="released">Description</label>
        <input type="text" id="descritpion" formControlName="descritpion">
    </div>
    <div>
        <label for="duration">pathURL</label>
        <input type="value" formControlName="pathURL" id="pathURL" >
    </div>
    <div>
        <label for="duration">priceEth</label>
        <input type="value" formControlName="priceEth" id="priceEth" >
    </div>


    <button class="btn btn-danger" >Sauvegarder</button>
    </form>

