
<div class="container-fluid bg-secondary-subtle">
  <div class="row pt-4">
      <div class="col-md-12 text-center mb-2">
          <small>© 2023 made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <span
              class="text-secondary font-weight-bold">Mi-Sun JANG</span></small>
      </div>
      <div class="col-md-12 text-center">
          <iframe
          src="https://ghbtns.com/github-btn.html?user=Mi-Seun&repo=Angular-Budget&type=star&count=true&size=small"
          frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
      </div>
  </div>
</div>
