<aside class=""></aside>

<div class="flex-shrink-0 p-3 bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-5 fw-semibold text-white">Menu</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Accueil
        </button>
        <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded text-white">NFT</a></li>
            </ul>
        </div>
        </li>
        <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            Catégories
        </button>
        <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded text-white">Sous-category 1</a></li>
            <li><a href="#" class="link-dark rounded text-white">Sous-category 2</a></li>
            <li><a href="#" class="link-dark rounded text-white">Sous-category 3</a></li>
            <li><a href="#" class="link-dark rounded text-white">Sous-category 4</a></li>
            </ul>
        </div>
        </li>
        <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
            About me
        </button>
        <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded text-white">Bechance</a></li>
            <li><a href="#" class="link-dark rounded text-white">linkedin</a></li>
            </ul>
        </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            Contact
        </button>
        <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded text-white">linkdin</a></li>
            <li><a href="#" class="link-dark rounded text-white">Instragram</a></li>
            <li><a href="#" class="link-dark rounded text-white">Sign out</a></li>
            </ul>
        </div>
        </li>
        <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            s'inscrire
        </button>
    </ul>
</div>



